*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://imgs.search.brave.com/sFQzUqdoxdq4N514ERGYKTdzYYdyNKZSvKZyabw8f3Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbmcu/cG5ndHJlZS5jb20v/cG5nLWNsaXBhcnQv/MjAyMTA4MDMvb3Vy/bWlkL3BuZ3RyZWUt/ZmVzdGl2YWwtY2hl/ZXJzLWFwcGxhdWQt/Y2xhcC1wbmctaW1h/Z2VfMzc3NTU3Ny5q/cGc");
    background-size: 40%;
}
  
h1 {
    text-align: center;
}

h3{
    justify-content: center;
    text-align: center;
    margin-top: 35%;
}